a{
    text-decoration: none;
}
.newsbar{
    background-color: #eaf2e1;
}
.speaker_button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    background-color: transparent;
}
.speaker_button:hover{
    color: rgb(72, 162, 223);
}

.max{
    max-height: 30vh;
}